<style>
    
</style>

<%if(success && success.length){%>
<div class="alert z alert-success alert-dismissible fade show col-6 offset-3" role="alert">
    <%=success%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<%}%><%if(error && error.length){%>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
        <%=error%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>

<!-- as here success and error is an array so we need to check both condition in if statement of whether it exists and whether it is empty or not -->