<style>
    .f-info-links a{
    text-decoration: none;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    display: flex;
    height: 8rem;
    background-color: black;

    justify-content: center;
    flex-wrap: wrap;
    align-items: space-evenly;
    text-align: center;
    color: #ffff;

}
.f-info-socials,.f-info-socials,.f-info-lost{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.glass1{
            background: linear-gradient(135deg,rgba(255,255,255,0.05),rgba(255,255,255,0));
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(0px);
            border-radius: 0 ;
            border: 0px solid rgba(255,255,255,0.18);
            box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        }
    
</style>


<footer>
    <div class="f-info glass1">
        
        <div class="f-info-lost">&copy;&nbsp;2024 NEXUS PVT LTD. All Rights Reserved</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>