<%layout("layouts/boilerplate")%>
<style>
    .main{
        padding: 50px;
    }
</style>
<body>
    

<div class="main">
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h2>Details of Found item</h2>
            <form action="/found" method="post"  class="needs-validation" novalidate  enctype="multipart/form-data" >
                <!-- <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="obj[title]" placeholder="enter title" type="text" class="form-control" required/>
                    <div class="valid-feedback">Title looks good</div>
                </div> --> 
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input name="obj[image]" placeholder="Upload Image" type="file" class="form-control" required/>
                    <div class="invalid-feedback">Please provide an image</div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Found Location</label>
                        <input name="obj[location]" placeholder="enter location" type="text" class="form-control" required/>
                        <div class="invalid-feedback">Location should be valid</div>
                </div>
                <div class="row">
                    
                    <div class="mb-3 col-md-6">
                        <label for="keyword" class="form-label" >Keyword</label>
                        <select name="obj[keywords]" id="cars" required class="form-control">
                            <option value="electronic">electronic</option>
                            <option value="jewellery">jewellery</option>
                            <option value="clothing">clothing</option>
                            <option value="accessories">accessories</option>
                        </select>
                        <div class="invalid-feedback">Please enter a short description</div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="date" class="form-label">Found Date</label>
                        <input name="obj[lostDate]" class="form-control" type="date" required/>
                        <div class="invalid-feedback">Date is required</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="obj[description]" placeholder="enter description" type="text" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <button class="btn btn-dark add-btn mt-3" type="submit">Add</button>
            </form>
        </div>
    </div>

</div>
</body>