<%layout("layouts/boilerplate")%>
<style>
    .main{
        margin:0;
        padding: 0;
    }
    .container1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top:50px;
        margin-bottom:50px;
    }
    .btn-1{
        border: 20px solid rgba(0,0,0,0.8);
        border-radius: 15px;
        padding: 100px;
        background-color: black;
        margin-top: 50px;
        margin-left: 150px;
        color: white;
        font-size:x-large;
        font-weight: 700;
        
    }
    .btn-1:hover{
        color: black;
        opacity: 1;
        background-color: green;
    }
   
    a{
        text-decoration: none;
    }
    .btn-2{
        border: 20px solid rgba(0,0,0,0.8);
        border-radius: 15px;
        padding: 100px;
        background-color: black;
        margin-top: 50px;
        margin-right: 150px;
        color: white;
        font-size:x-large;
        font-weight: 700;
        
    }
    .btn-2:hover{
        background-color: red;
    }
</style>
<div class="main">
<br><br>
    <center>
    <h1 class="">Lost & Found</h1>
    <div class="container1">
        <form action="/found" method="get">
        <button  class="btn btn-1 ">Found</button>
        </form>
        <form action="/lost" method="get">
        <button  class="btn btn-2">&nbsp Lost &nbsp</button>
        </form>
    </div>
</center>
</div>