<%layout("layouts/boilerplate")%>
<style>
    .glass{
            background: linear-gradient(135deg,rgba(255,255,255,0.2),rgba(255,255,255,0));
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 20px;
            border: 1px solid rgba(255,255,255,0.18);
            box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        }
    .change{
        margin: 250px;
        padding-top:50px ;
        padding-bottom:50px ;
    }
    .change7{
        background-color: transparent;
    }
</style>
<body>
    <br><br><br><br>
<div class="row mt-5 change glass ">
        <h1 class="col-6 offset-3">Login</h1>
    <div class="col-6 offset-3 mt-3">
        <form action="/login" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input name="username" id="username" placeholder="username" type="text" class="form-control" required/>
                <div class="valid-feedback">Looks good</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" placeholder="password" type="password" class="form-control" required/>
            </div>
            <button class="btn btn-success">Login</button>
        </form>
        
    </div>
    <div class="row offset-4 mt-3" ><p>Don't have an account yet? &nbsp;&nbsp;&nbsp;<a href="/signup"><button class="btn btn-success change7">Signup</button></a></p></div>
</div>
 
</body> 
